.sidebar {
    box-sizing: border-box;

    margin-top: 68px;
    width: 243px;
    height: 448px;
    display: grid;
    position: fixed;
}

.sidebar > div {
    box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.06),
            0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: move;
}