.numbers, .numbers_move {
    height: 224px;
    width: 240px;

    padding: 4px;

    margin-top: 8px;

    box-sizing: border-box;

    display: grid;
    gap: 8px;
    grid-template-columns: 72px 72px 72px;
    border-image: none;

    position: relative;
}

.numbers {
    cursor: default;
}

.numbers_move {
    cursor: move;
}

.frame, .numbers__buttons, .number__buttons_calcMode {
    height: 48px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


    border-radius: 6px;

    background: #FFFFFF;

    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    cursor: inherit;
}

.numbers__buttons, .number__buttons_calcMode {
    width: 100%;
    border: 1px solid #E2E3E5;
}

.number__buttons_calcMode {
    cursor: pointer;
}

.number__buttons_calcMode:hover {
    cursor: pointer;
    border: 2px solid #5D5FEF;
}

.number__buttons_calcMode:active {
    border: none;
    width: 68px;
    height: 64px;
    position: absolute;

    color: #FFFFFF;
    background: #5D5FEF;
}

.frame:nth-child(10) {
    grid-column: span 2;
}

.frame:nth-child(10) > .number__buttons_calcMode{
    width: 152px;
}



