.display {
    height: 60px;
    width: 240px;
    padding: 4px;
    box-sizing: border-box;
}

.display__value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 8px;

    background: #F3F4F6;
    border-radius: 6px;

    cursor: inherit;

}

.display__value__text {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: clamp(1.438rem, 0.001rem + 99.96vw, 2.75rem);
    font-weight: 800;
    font-size: clamp(1.188rem, 1.035rem + 9.39vw, 2.25rem);
    line-height: 1.2;
    /* identical to box height */

    display: flex;
    align-items: flex-end;


    /* gray/900 */
    flex: none;
    order: 0;
    flex-grow: 0;

    color: #111827;
}