.display {
    height: 60px;
    width: 240px;
    padding: 4px;
    box-sizing: border-box;
}

.display__value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 8px;


    background: #F3F4F6;
    border-radius: 6px;

    cursor: inherit;

}

.display__value__text {
    margin: 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: right;

    /* gray/900 */

    color: #111827;
}